<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login</title>

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
	<!--Nav bar-->
	<div class="bg-body-tertiary">
		<div>
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
				<div class="container-fluid">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarCollapse">
						<div class="  justify-content-md-center mx-4 r ">
							<a href="/"><img src="/static/images/vlogo.png"
								class="d-block mx-lg-auto img-fluid rounded-circle border border-2 border-light"
								alt="Bootstrap Themes" width="50" height="50" loading="lazy"></a>
						</div>
						<ul class="navbar-nav me-auto mb-2 mx-0 mb-md-0">
							<li class="nav-item">
								<a class="nav-link active fw-bold fs-5 " href="/">Home</a>
							</li>
						</ul>

						<div class="bg-white me-auto rounded-5 border border-secondary border-4 px-3">
							<h4 class="fw-bold bg	">D-Town Academy </h4>
						</div>

						<div>
							<a href="/login">
								<button class="btn btn-secondary btn-sms px-4 mx-2" type="submit">Log in</button>
							</a>
							<a href="/register">
								<button class="btn btn-secondary btn-sms px-4 mx-2" type="submit">Register</button>
							</a>
						</div>
					</div>
				</div>
			</nav>
		</div>
		<br><br><br>

		<!--			login-->
		<div class=" container">
			<section class="w-100 px-4 py-5 mt-5 bg-dark-subtle border border-dark rounded-5">
				<style>
					.divider:after,
					.divider:before {
						content: "";
						flex: 1;
						height: 1px;
						background: #eee;
					}
				</style>
				<div class="row d-flex justify-content-center">
					<div class="col-md-8 col-lg-7 col-xl-6">
						<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
							class="img-fluid" alt="Phone image">
					</div>
					<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 fw-semibold">

						<form id="loginForm" action="/validate" method="post" onsubmit="return validateForm()">
							<!-- Email input -->
							<div>
								<h2 class="fs-1 text-success">Please Log in</h2>
							</div>
							<br>
							<div class="form-outline mb-4">
								<input type="email" id="form1Example1" name="email"
									class="form-control form-control-lg">
								<label class="form-label" for="email" style="margin-left: 0px;">Email
									address</label>
								<div class="form-notch">
									<div class="form-notch-leading" style="width: 9px;"></div>
									<div class="form-notch-middle" style="width: 88.8px;"></div>
									<div class="form-notch-trailing"></div>
								</div>
							</div>
							<!-- Password input -->
							<div class="form-outline mb-4">
								<input type="password" id="form1Example2" name="password"
									class="form-control form-control-lg">
								<label class="form-label" for="password" style="margin-left: 0px;">Password</label>
								<div class="form-notch">
									<div class="form-notch-leading" style="width: 9px;"></div>
									<div class="form-notch-middle" style="width: 64px;"></div>
									<div class="form-notch-trailing"></div>
								</div>
								<!--	      error Message-->
								<div th:if="${error1}" class="error-message text-center">
									<h6 class="text-danger">Wrong password</h6>
								</div>
								<div th:if="${error2}" class="error-message text-center">
										<p class="text-bg-danger text-center">No account with this Email id, please check your id.</p>
								</div>
							</div>

							<!-- Submit button -->
							<div class="justify-content-center text-center">
								<button type="submit" class="btn btn-primary btn-lg btn-block mt-2 ">Log in</button>
								<span>or</span>
								<a href="/register"><span>Register</span> </a>
								<a class="text-black-50">if haven't</a>
							</div>
						</form>
					</div>
				</div>
			</section>
		</div>

		<!--Container closing div-->
	</div>


	<!--JavaScript for display notice if any inout not filled-->
	<script>
		function validateForm() {
			var email = document.getElementById("form1Example1").value;
			var password = document.getElementById("form1Example2").value;

			if (email === "" || password === "") {
				// Display a notice message here, for example:
				alert("Please fill in all required fields");
				return false; // Prevent form submission
			}

			// Form is valid, allow submission
			return true;
		}
	</script>







	<!-- Optional JavaScript; choose one of the two! -->

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

	<!-- Option 2: Separate Popper and Bootstrap JS -->
	<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>